
@{
    ViewBag.Title = "Edit Project Pipeline";
    Layout = "~/Views/Shared/_LayoutCanvas.cshtml";
}
<div class="row">
    <div class="col-sm-3"><h4 id="projectName">Project: </h4></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><h6 id="projectState"></h6></div>
</div>
<div class="row canvas-row">
    <div class="col-sm-8 blog-main">
        <canvas id="main-canvas"></canvas>
    </div>

    <div class="col-sm-4 blog-sidebar">
        <div class="sidebar-module">
            <span id="valid_indicator"></span>
            <div id="editor_holder"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var projectId = "@ViewBag.projectId";
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jsoneditor")
    <script src="~/Scripts/Shared/PipelineCanvas.js"></script>
    <script src="~/Scripts/Views/EditProject.js"></script>
}
