
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard - Projects</h2>

<div class="row">
    <table id="projectTable" class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Edit</th>
                <th>Run</th>
                <th>Review</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr id="loading"><td  class="text-center" colspan="6"><i>Loading</i> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></td></tr>
        </tbody>
    </table>
</div>
<hr />
<div class="row"><button type="button" class="btn btn-default" onclick="window.location='/PipelineProject/Create';">Create New Project</button></div>

@section Scripts {
    <script src="/Scripts/Views/ProjectList.js"></script>
}
