@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Cover.cshtml";
}

<h1 class="cover-heading">PipelineML</h1>
<p class="lead">Use Machine Learning techniques to analyse your data online.</p>